<div class="mt-0 md:mt-10">
    <h1 class="font-sans font-bold text-h1Mobile md:text-h1 tracking-tight mt-10">Sneakers collection</h1>
    <p class="font-sans font-regular text-bodyMobile md:text-body">
        Bienvenue dans la web app nommée "Sneaker Collection", elle a pour but de recenser ma collection ainsi que ma
        wishlist et pouvoir garder tout cela en ligne !
    </p>

    <div class="mt-10 md:mt-20">
        <h2 class="font-sans font-bold text-h2Mobile md:text-h2 tracking-tight">Ma collection</h2>
        <ul class="grid grid-cols-1 md:grid-cols-12 gap-10 mt-2">
            <li *ngFor="let sneaker of collection" class="md:col-span-3">
                <app-sneaker-component [sneaker]="sneaker" [isInHomePage]="true"></app-sneaker-component>
            </li>
            <div class="relative md:col-span-3">
                <a [routerLink]="['/collection']"
                    class="see-more static inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-500 hover:bg-blue-600 focus:outline-none">Voir
                    plus</a>
            </div>
        </ul>
    </div>

    <div class="mt-10 md:mt-20">
        <h2 class="font-sans font-bold text-h2Mobile md:text-h2 tracking-tight">Ma wishlist</h2>
        <ul class="grid grid-cols-1 md:grid-cols-12 gap-10 mt-2">
            <li *ngFor="let sneaker of wishlist" class="md:col-span-3">
                <app-sneaker-component [sneaker]="sneaker" [isInHomePage]="true"></app-sneaker-component>
            </li>
            <div class="relative md:col-span-3">
                <a [routerLink]="['/wishlist']"
                    class="see-more static inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-500 hover:bg-blue-600 focus:outline-none">Voir
                    plus</a>
            </div>
        </ul>
    </div>

    <div class="mt-16 md:mt-28 md:grid md:grid-cols-12 bg-blue-50 border-solid border-2 border-blue-200 rounded-lg p-5">
        <div class="md:col-span-10">
            <h2 class="font-sans font-bold text-h2Mobile md:text-h2 tracking-tight">Trouve ta paire</h2>
            <p class="font-sans font-regular text-bodyMobile md:text-body">
                La web app a aussi un "moteur de recherche" ou l'on peut trouver sa paire. Il est possible de regarder
                pour une paire en la cherchant grâce à son nom ou sa marque mais il est aussi possible de regarder dans
                les dernières sorties des grandes marques : Nike, Adidas, Yeezy, New Balance etc.
            </p>
        </div>
        <a [routerLink]="['/search']"
            class="mt-5 btn-search md:col-span-2 md:m-auto inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-500 hover:bg-blue-600 focus:outline-none">Chercher</a>
    </div>



</div>