<app-back-button></app-back-button>
<div *ngIf="sneaker" class="w-full mx-auto mt-0 md:mt-10">
    <h1 class="font-sans font-bold text-h1Mobile md:text-h1 tracking-tight mt-10">{{sneaker.title}}</h1>
    <p class="font-sans font-regular text-bodyMobile md:text-body"><i class="font-semibold">Silhouette :</i>
        {{sneaker.shoe}}</p>
    <p class="font-sans font-regular text-bodyMobile md:text-body"><i class="font-semibold">Nom: </i> {{sneaker.name}}
    </p>
    <p class="font-sans font-regular text-bodyMobile md:text-body"><i class="font-semibold">Année de sortie: </i>
        {{sneaker.releaseDate | date: 'd/M/yyyy'}}
    </p>
    <img class="md:mt-10 md:mb-10 w-3/4 mx-auto" [src]="sneaker.media.imageUrl" alt="">
    <h2 class="font-sans font-regular text-bodyMobile md:text-body">
        <i class="font-semibold">Prix retail :</i> {{sneaker.retailPrice | price}}
    </h2>

    <div class="mt-5">
        <h2 class="font-sans font-regular text-bodyMobile md:text-body"><i class="font-semibold">Prix par taille
                (Pointure US): </i></h2>
        <app-price-table [sneaker]="sneaker"></app-price-table>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 md:gap-10 mt-5">
        <h2 *ngIf="sneaker.lowestResellPrice.stockX" class="font-sans font-regular text-bodyMobile md:text-body">
            <i class="font-semibold">Prix resell sur stockX :</i> {{sneaker.lowestResellPrice.stockX | price}}
        </h2>
        <h2 *ngIf="sneaker.lowestResellPrice.goat" class="font-sans font-regular text-bodyMobile md:text-body">
            <i class="font-semibold">Prix resell sur Goat :</i> {{sneaker.lowestResellPrice.goat | price}}
        </h2>
        <h2 *ngIf="sneaker.lowestResellPrice.flightClub" class="font-sans font-regular text-bodyMobile md:text-body">
            <i class="font-semibold">Prix resell sur Fightclub :</i> {{sneaker.lowestResellPrice.flightClub | price}}
        </h2>
    </div>

    <h2 class="font-sans font-regular text-bodyMobile md:text-body mt-5"><i class="font-semibold">Pour en savoir plus
            :</i> (Uniquement en anglais)</h2>
    <p class="font-sans font-regular text-bodyMobile md:text-body">{{sneaker.description}}</p>
</div>

<div *ngIf="!sneaker" class="w-full mx-auto mt-0 md:mt-10">
    <h1 class="skeleton-box w-full"></h1>
    <p class="skeleton-box w-2/5"></p>
    <p class="skeleton-box w-2/5"></p>
    <p class="skeleton-box w-2/5"></p>
    <div class="skeleton-box md:mt-10 md:mb-10">
        <img class="w-3/4 h-auto mx-auto opacity-0"
            src="https://stockx-assets.imgix.net/media/New-Product-Placeholder-Default.jpg?fit=fill&bg=FFFFFF&w=700&h=500&auto=format,compress&trim=color&q=90&dpr=2&updated_at=0"
            alt="">
    </div>
    <h2 class="skeleton-box w-2/5"></h2>
    <h2 class="skeleton-box w-full h-24"></h2>
    <h2 class="skeleton-box w-2/5"></h2>
    <h2 class="skeleton-box w-2/5"></h2>
    <h2 class="skeleton-box w-2/5"></h2>
    <p class="skeleton-box w-full mt-0 md:mt-5"></p>
</div>