<app-back-button></app-back-button>
<div class="w-full md:w-2/5 mx-auto mt-0 md:mt-10">
    <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
        <section class="">
            <app-search-form></app-search-form>
        </section>

        <section>
            <h1 class="font-sans font-bold text-h1Mobile md:text-h1 tracking-tight">Ou découvre des paires parmi les
                marques les plus connues</h1>
            <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
                <li *ngFor="let brand of brands">
                    <app-brand-component [brand]="brand"></app-brand-component>
                </li>
            </ul>
        </section>
    </div>
</div>