<section class="flex flex-col items-center justify-content">
    <h1 class="font-sans font-bold text-h1Mobile md:text-h1 tracking-tight">Page non trouvée</h1>
    <p class="font-sans font-regular text-bodyMobile md:text-body mt-5">Il semble que la page que tu cherches n'existe
        pas.
    </p>
    <a (click)="moveToHome()"
        class="mt-10 select-none cursor-pointer inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-500 hover:bg-blue-600 focus:outline-none">Retourner
        à l'accueil</a>
</section>