a{
    .img-blended{
        mix-blend-mode: darken;
    }
}

.home-page{
    a{
        background-color: #f1f5fb;
        img{
            mix-blend-mode: darken;
            height: 160px;
            width: auto;
        }
    }
}